{% include 'header.html.twig' %}

</div>
<div class="col-md-12">

<form method="GET">
  <div class="card mb-3">
    <div class="card-body">
      <div class="row g-3">
        {% for field in select_form %}
          {% if 'hidden' in field.vars.block_prefixes %}
            {{ form_widget(field) }}
          {% else %}
            <div class="col-md-2">
              {{ form_row(field, {'attr': {'class': 'form-control',
                                           'onchange': 'this.form.submit()'}}) }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</form>

<div class="container justify-content-center">
  <div class="row">
    <div class="col">
      <div id="merged_prs" style="max-width: 900px"></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="pcmergedplot" style="max-width: 500px"></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="langsplot" style="max-width: 800px"></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="projsplot" style="max-width: 900px; max-height: 500px"></div>
    </div>
  </div>
</div>

<div class="container mt-4 mb-4 d-flex justify-content-center">
  <div class="card shadow w-auto">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">All projects</h5>
    </div>
    <div class="card-body p-0">
      <div id="projects-table" style="max-width: 999px"></div>
    </div>
  </div>
</div>

<script>
xData = [{{ merged_prs_years|map(value => '"' ~ value|e ~ '"')|join(', ')|raw }}];
yData = [[{{ merged_prs_patches|join(', ') }}],
         [{{ merged_prs_lines_added|join(', ') }}],
         [{{ merged_prs_lines_deleted|join(', ') }}],
         [{{ merged_prs_files_modified|join(', ') }}]];
var labels = ['Merged PRs', 'Lines added', 'Lines deleted', 'Files modified'];
var lineSize = [3, 2, 2, 2];
var yaxis = ['y', 'y2', 'y2', 'y2'];

var data = [];
for (var i = 0 ; i < yData.length; ++i) {
  var result = {
    x: xData,
    y: yData[i],
    yaxis: yaxis[i],
    type: 'scatter',
    mode: 'lines',
    name: labels[i],
    line: {
      width: lineSize[i]
    }
  };
  data.push(result);
}

var layout = {
  legend: {
    x: 1.1,
    y: 1.1
  },
  xaxis: {
    showline: true,
    showgrid: false,
    autotick: false
  },
  yaxis: {
    title: 'PR count',
    range: [0, {{ max_y }}]
  },
  yaxis2: {
    title: 'File/Line count',
    range: [0, {{ max_y2 }}],
    showgrid: false,
    overlaying: 'y',
    side: 'right'
  },
  annotations: [
    {
      xref: 'paper',
      yref: 'paper',
      x: 0.0,
      y: 1.05,
      xanchor: 'left',
      yanchor: 'bottom',
      text: 'Merged PRs',
      font:{
        size: 24,
        color: 'rgb(37,37,37)'
      },
      showarrow: false
    }
  ]
};

config = {
  displayModeBar: false,
  responsive: true
};

Plotly.newPlot('merged_prs', data, layout, config);

// 2nd plot
var bugs = {
  x: [{{ pcmerged_x|map(value => '"' ~ value|e ~ '"')|join(', ')|raw }}],
  y: [{{ pcmerged_bug|join(', ') }}],
  name: 'Bug fixes',
  type: 'bar'
};
var features = {
  x: [{{ pcmerged_x|map(value => '"' ~ value|e ~ '"')|join(', ')|raw }}],
  y: [{{ pcmerged_feat|join(', ') }}],
  name: 'Features',
  type: 'bar'
};
var data = [bugs, features];
var layout = {
  title: {
    text: 'Percentage of Merged PRs'
  },
  barmode: 'group',
  yaxis: {
    tickformat: ',.0%'
  }
};
Plotly.newPlot('pcmergedplot', data, layout, config);

// 3rd plot
var data = [
  {
    x: [{{ lang_x|map(value => '"' ~ value|e ~ '"')|join(', ')|raw }}],
    y: [{{ lang_y|join(', ') }}],
    type: 'bar'
  }
];
var layout = {
  title: {
    text: 'Project Languages'
  }
};
Plotly.newPlot('langsplot', data, layout, config);

// 4th plot
var data = [
  {
    x: [{{ proj_x|map(value => '"' ~ value|e ~ '"')|join(', ')|raw }}],
    y: [{{ proj_y|join(', ') }}],
    type: 'bar'
  }
];
var layout = {
  title: {
    text: 'Most Frequent Projects'
  },
  xaxis: {
    tickangle: 45
  },
  margin: {
    b: 150
  }
};
Plotly.newPlot('projsplot', data, layout, config);

// the table
var tabledata = [
  {% for row in all_projects %}
    { id: {{ row.id }},
      name: "{{ row.name|e('js') }}",
      url: "{{ row.url|e('js') }}",
      bugs: {{ row.bugs|e('js') }},
      bugs_pc: "{{ row.bugs_pc|e('js') }}%",
      features: {{ row.feat|e('js') }},
      features_pc: "{{ row.feat_pc|e('js') }}%"
    },
  {% endfor %}
];
var table = new Tabulator("#projects-table", {
  height: 350,
  data: tabledata,
  layout: "fitColumns",
  columns: [
    {title: "Project", field:"name", formatter:"link", formatterParams:{
      labelField: "name",
      urlField: "url"
    }},
    {title: "Merged PRs bug fixes", field: "bugs"},
    {title: "Merged PRs bug fixes %", field: "bugs_pc", sorter:"number"},
    {title: "Merged PRs features", field: "features"},
    {title: "Merged PRs features %", field: "features_pc", sorter:"number"},
  ],
});
</script>

{% include 'footer.html.twig' %}
